<div class="intro">
    <h2>👋 Intro</h2>
    <div class="intro-body">
        <div class="intro-content">
            <p>
                <strong>
                    <a href="https://marketplace.visualstudio.com/items?itemName=m365pnp.viva-connections-toolkit" target="_blank" rel="noopener noreferrer">
                        SharePoint Framework Toolkit
                    </a>
                </strong> 
                is a Visual Studio Code extension that aims to boost your productivity in developing and managing 
                <a href="https://learn.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview?WT.mc_id=m365-15744-cxa" target="_blank" rel="noopener noreferrer">
                    SharePoint Framework solutions
                </a>helping at every stage of your development flow, from setting up your development workspace to deploying a solution straight to your tenant without the need to leave VS Code 🚀.
            </p>
            <p>
                All of that is possible due to the awesome work done by the 
                <a href="https://pnp.github.io/" target="_blank" rel="noopener noreferrer">PnP community</a> which is visible in many functionalities of this extension: sample gallery filled with 
                <a href="https://pnp.github.io/sp-dev-fx-webparts/" target="_blank" rel="noopener noreferrer">PnP samples</a>, upgrading SPFx project using 
                <a href="https://pnp.github.io/cli-microsoft365/" target="_blank" rel="noopener noreferrer">CLI for Microsoft 365</a>, and many more. It does not matter if you are starting your journey with SPFx development and Viva solutions or if you are already experienced in this area, this VS Code extension will have the features you need to kick off your work to the next level 💪.
            </p>
        </div>
        <div class="youtube-video">
            <iframe 
                src="https://www.youtube.com/embed/dObwt18yieE?si=eOGKerAncn3UQKs0" 
                title="Getting Started with SharePoint Framework with SPFx Toolkit" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
