name: Pre-Release

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    name: "Build and release"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Install the dependencies
        run: yarn
      
      - name: Prepare BETA
        run: node scripts/beta-release.js $GITHUB_RUN_ID

      - name: Publish
        run: npx vsce publish -p ${{ secrets.VSCE_PAT }} --pre-release --yarn --baseImagesUrl https://github.com/pnp/m365-hosted-apps-vscode/blob/dev